  
  /*---------------- quick access-----------*/
  body {
  font-family: 'Poppins', sans-serif;
}

.titleFont{
  font-family: 'Playfair Display', serif;
}
/*-----------navbar--------------------------*/
#navColor{
  color: black;
}

.navbar-collapse{
 flex-grow: 0;
 justify-content: center;
}
#wholeNavBar{
  justify-content: space-around;
}

.nav-item{
  padding: 1rem;
}
/* hero*/
#hero {
 background-color: rgba(0, 0, 0, .8);
  width: 100%;
  height: 100%;
}

.heroText {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.heroCard {
    color:black;
text-align: center;
z-index: 1;
font-size: 3rem;
text-transform: capitalize;
font-weight: 600;
background: #ffef9c;
padding: 1rem;
}

.heroCard-button {
  color:black;
text-align: center;
z-index: 1;
font-size: 1rem;
text-transform: capitalize;
font-weight: 600;
background: #ffef9c;
padding: 1rem;
}


/* flex seaction */

#card-block {
  
  color: #d1e0eb;
  width: 25rem;
  height: 20rem;
  text-align: center;
margin: 2rem;
border: 1mm ridge rgba(54, 54, 59, 0.6);
border-radius: .3rem;
box-shadow: -12px 10px 20px 3px rgba(0, 0, 0, .5);
}
.card-description-card {
padding-left: .5rem;
padding-right: .5rem;
}
/* -----buttons--------- */
.learnMoreButton-AboutME {
  margin-top: .5rem;
  text-decoration: none;
  transition-duration: 0.4s;
  background-color:white;
  border-radius: 10px;
  color: black;
  border:  thick double black;
}

.learnMoreButton-AboutME:hover { 
  color: black;
  transform: rotate(5deg);
}

.learnMoreButton-projects {
  margin-top: .5rem;
  text-decoration: none;
  transition-duration: 0.4s;
  background-color:white;
  border-radius: 10px;

  color: black;
  border:  thick double black;
}

.learnMoreButton-projects:hover {
  color: black;
  transform: rotate(5deg);
}

.learnMoreButton-Github {
  margin-top: .5rem;
  text-decoration: none;
  transition-duration: 0.4s;
  background-color:white;
  border-radius: 10px;
  color: black;
  border:  thick double black;
}

.learnMoreButton-Github:hover {
  color: black;
  transform: rotate(5deg);
}
/* -----buttons end--------- */

#AllCards {
 display: flex;
margin-left: auto;
margin-right: auto;

}

#card-title {
  margin-bottom: 1rem;
  transition-duration: 0.4s;
}
#card-title:hover{
  
  transform: rotate(.5deg);
}

#card-description {
  text-align: center;

}
/* -----card colors--------- */

.aboutMe-color {
  background-color: #ffef9c;
  transition-duration: 0.4s;
}
.aboutMe-color:hover {
  transform: rotate(.5deg);
}
.aboutMEColor-text{
  color: black;
}

.projects-color {
  background-color: #fff6cc;
  transition-duration: 0.4s;
}
.projects-color:hover{
  transform: rotate(.5deg);
}
.GitHub-color {
  background-color: #fffae5;
  transition-duration: 0.4s;
}

.GitHub-color:hover{
  transform: rotate(.5deg);
}


/* ------about me-------------*/

#GetToKnowMe-seation {
  padding: 125px 12px 316px 12px;
  border: 1mm ridge rgba(23, 31, 139, 0.6);
}

.aboutME-article {
  background-color: #ffef9c;
  width: 100%;
  height: 100%;

}
#GetToKnowME-header {
  text-align: center;
  color: black;
font-weight: 600;
margin-bottom: 2.5rem;
margin-top: 1.5rem;
padding-top: 2rem;
transition-duration: 0.4s;
}
#GetToKnowME-header:hover{
  transform: rotate(2deg);
}

#GetToKnowME-p {
  text-align: center;
  color: black;
  font-size: 1.5rem;
  line-height: 2.3rem;
text-transform: capitalize;
padding-left: .5rem;
padding-right: .5rem;
}

  #GetToKnowMe-seation {
padding-top: 1rem; 
padding-bottom: 10rem;
border: 0;  
padding-left: 1rem;
padding-right: 1rem;
}



.sectionProjects-color {
  background: #fff6cc;
  color: white;
}

.GetToKnowME-p-highLight{
  text-decoration: none;
  background-image: linear-gradient(black, black);
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: 0% 3px;
  transition: background-size 500ms ease-in-out;
  font-weight:bold
}
.GetToKnowME-p-highLight:hover {
  background-size: 100% 3px;
  color: inherit;
}
/*-------------projects--------------*/

#img-sizing {
  width: 20rem;
  margin-top: 1.5rem;
  margin-bottom: 3rem;
  transition: all 100ms ease-in; 
}

#img-sizing:hover {
  transform: scale(1.3);
  box-shadow: -12px 10px 20px 2px rgba(0, 0, 0, .3);
  transition: all 250ms cubic-bezier(.1,.6,.95,.97);
}

#project-pictures {
  display: grid;
    grid-template-columns: repeat(3, 1fr);
  grid-column-gap: .2rem;
  grid-template-rows:1rem ;
  }
#one {
  grid-column: 1/2;
}
#two {
  grid-column: 2/2;
}
#three {
  grid-column: 1/2;
  grid-row: 1/3;
}
#four {
  grid-column: 2/2;
  grid-row: 2/1;
}
 
#six{
  grid-column: 3;
  grid-row: 1;
}

.allProjects {
 margin: auto;
}


#projects-header {
padding-top: 2rem;
  margin-bottom: 3rem;
font-weight: 600;
font-size: 4rem;
color: black;
}

.project-text {
text-transform: capitalize;
font-size: 1.1rem;
color: black;
}

/*--------------- media------------------- */
/*tablet*/
@media (max-width: 765px) {
  #AllCards {
  flex-direction: column;
align-items: center;
}
.heroText {
  text-align: center;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.heroCard {
  
text-align: center;
z-index: 1;
font-size: 2rem;
}

}
/*med phone*/
/* -----375px--------- */
@media screen and (max-width: 375px) {
  
  #img-sizing {
    width: 20rem;
  }
  
  .heroText {
    text-align: center;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  
  
}
/*large phone*/
/* -----503px--------- */
@media screen and (max-width: 503px) {
  
  #flex  {
padding-left: 14px;
padding-right: 14px;
  }
  
  .heroText {
    text-align: center;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .heroCard {
    
text-align: center;
z-index: 1;
font-size: 2rem;
}
.heroCard-button {
  font-size: .5rem;
}

}



/*laptop*/
/* -----901px--------- */
@media (min-width: 901px) {

  #hero {
 min-width: 100%;
}

#flex {
  width: 100%;
  padding: auto;
}

.heroText {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


}

/* med phone*/
/* -----375--------- */
@media screen and (max-width: 375px) {
  #card-block {
    width: 20rem;
  }
#GetToKnowME-p{
  font-size: 1rem;
}
}


/* -----tablet--------- */
/*681px*/
@media screen and (max-width: 681px) {
  #project-pictures {
    display: flex;
    flex-direction:column;
  }

}
/*laptop grid*/
/*1024px*/
@media screen and (max-width: 1024px) {
  #project-pictures {
    display: grid;
      grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 1rem;
    grid-template-rows:1rem ;
    }
  #one {
    grid-column: 2;
  grid-row: 3;
  }
  #two {
    grid-column: 2;
  grid-row: 4;
  }
  #three {
    grid-column: 1;
    grid-row: 1;
  }
  #four {
    grid-column: 1;
    grid-row: 4;
  }
   
  #five{
  grid-column: 1;
  grid-row: 3;
  }
  
  #six{
    grid-column: 2;
    grid-row: 2;
  }
  
}
/*tablet for grid*/
/*684*/
@media screen and (max-width: 684px) {
  #project-pictures {
    display: grid;
      grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 1rem;
    grid-template-rows:1rem ;
    }
  #one {
    grid-column: 1;
  grid-row: 7;
  }
  #two {
    grid-column: 1;
  grid-row: 9;
  }
  #three {
    grid-column: 1;
    grid-row: 2;
  }
  #four {
    grid-column: 1;
    grid-row: 8;
  }
   
  #five{
  grid-column: 1;
  grid-row: 6;
  }
  
  #six{
    grid-column: 1;
    grid-row: 3;
  }

}

/*--------tablet---*/
/*864px*/
@media screen and (max-width: 864px) {
  .heroText{
    top: 14rem;
  }
}


@media screen and (max-width: 425px) {
  .heroText{
    top: 7rem;
    width: 10rem;
    height: 3rem;
  
  }
.titleFont{
  font-size: 1.4rem;
}
#GetToKnowME-p{
  font-size: 1.3rem;
}
}