html,
#contact-div {
  background-color: #d1e0eb;
}

#contactME-div {
  text-align: center;
  background-color: #d1e0eb;
  color: #0c3c60;
}

#contactME-a {
  text-decoration: none;
  color: #0c3c60;
  font-size: 1.2rem;
}

#contactME-a:hover {
  color: cornflowerblue;
}
