html,
#contact-div {
  background-color:#fff6cc;
}

#contactME-div {
  text-align: center;
  background-color:#fff6cc;
  color: black;
}

#contactME-a {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
}

#contactME-a:hover {
  color:  #575448;
}

#contactHeader {
  margin-top: 2rem;
  margin-bottom: 1rem;
}



#navColor{
  color: black;
}